/* css styles */

/*paar el logo con lentes*/
.navbar-logo {
    max-height: 50px;
    width: auto;
    padding-right: 4px;
}


/*Main*/
/*para la foto*/
.about-image {
  box-shadow: 10px 10px 20px 0 rgba(32,32,32,0.3);
}

.rounded {
  border-radius: 10px !important;
}

/*contenido del resumen*/
#quarto-document-content {
  font-size: 17px;
  text-align: left;
}

.text{
  text-align: center;
}


.nav-tabs .nav-link {  
  color: #566472;
  font-weight: 400;
}

.nav-tabs .nav-link.active {
  color: #566472;
}

.nav-tabs .nav-link:hover {
  font-weight: 600;
  background-color: #fbfbfc;
}

.tab-content{
  border: 1px;
}
/*para los links del resumen*/
.column-page a {
  color: #000;
  text-decoration: none;
}

.column-page a:hover{
  font-weight: bold;
  color: #2C3E50;
}

/*Footer*/
.nav-footer-left .img-fluid {
  height: 25px;
}

.footer {
  font-size: 15px;
}

/*seccion CV*/
/*PAra el boton de descargar CV*/
.text-center {
  margin-top: 60px;
  margin-bottom: -50px;
}

.text-center .btn {
  background-color: steelblue;
  color: white;
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
}

.text-center .btn:hover {
  color: white;
  font-weight: bold;
 
}

/*para las columnas de habilidades tecnicas*/
.column {
  text-align: center;
  justify-content: center;
}

.columns2 {
  text-align: center;
  justify-content: center;
}

.email {
  font-style: italic;
}