/* css styles */

/*nav bar*/
.navbar-dark{
  height: 66px;
}

.navbar-nav .nav-link {
  font-size: 18px;
}

/*paar el logo con lentes*/
.navbar-logo {
    max-height: 50px;
    width: auto;
    padding-right: 4px;
}


/*Main*/
/*para la foto*/
.about-image {
  box-shadow: 10px 10px 20px 0 rgba(32,32,32,0.3);
}

.rounded {
  border-radius: 10px !important;
}

/*contenido del resumen*/
#quarto-document-content {
  font-size: 17px;
  text-align: left;
}

.text{
  text-align: center;
}


.nav-tabs .nav-link {  
  color: #566472;
  font-weight: 400;
}

.nav-tabs .nav-link.active {
  color: #566472;
}

.nav-tabs .nav-link:hover {
  font-weight: 600;
  background-color: #fbfbfc;
}

.tab-content{
  border: 1px;
}

.navbar-nav .dropdown-menu{/*el menu de github*/
  min-width: 6rem !important;
}

.dropdown-text:hover{
  color: black;
}

.dropdown-item:hover{
  background-color: #dae6f0;
  color: black;
}

/*para los links del resumen*/
.column-page a {
  color: #000;
  text-decoration: none;
}

.column-page a:hover{
  font-weight: bold;
  color: #2C3E50;
}

/*Footer*/
.nav-footer-left .img-fluid {
  height: 25px;
}

.footer {
  font-size: 15px;
}

/*seccion CV*/
.text-end{
  margin-left: 440px;
}


/*para los tabset de ingles y español*/
.tab-content{
  padding-left: 1px;
  padding-right: 1px;
}

.cv-about>.nav-tabs{
  border-bottom: 1px solid transparent;
  margin-top: -10px;
}

#tabset-3-1-tab, #tabset-3-2-tab{/*tab ingels y español*/
  background-color: #dae6f0;
  padding: 8px 17px;
  font-size: 12px;
}

#tabset-3-1-tab.active, #tabset-3-2-tab.active{
  font-weight: 900;
}

#tabset-3-2-tab{/*tab español*/
  margin-left: 5px;
}

#tabset-1-1-tab, #tabset-1-2-tab, #tabset-2-1-tab, #tabset-2-2-tab{ /*tab cv y resources en ambos idiomas*/
  border-top: 1px solid #dae6f0; 
  border-right: 1px solid #dae6f0; 
  border-left: 1px solid #dae6f0;
  border-bottom: 1px solid #dae6f0;
  font-weight: 900;
  padding: 8px 18px;
  margin-top: 5px;
}

#tabset-1-1-tab.active, #tabset-1-2-tab.active, #tabset-2-1-tab.active, #tabset-2-2-tab.active{
  border-bottom: 3px solid #dae6f0;
  border-top: 1px solid #dae6f0; 
  border-right: 1px solid #dae6f0; 
  border-left: 1px solid #dae6f0;
}


#tabset-1-2-tab, #tabset-2-2-tab{
  margin-left: 5px ; 
}

#tabset-1-1-tab:hover, #tabset-1-2-tab:hover, #tabset-2-1-tab:hover, #tabset-2-2-tab:hover{
  border-bottom: 3px solid #566472;
}

.nav-tabs .nav-link.active{ /*cuando english o español esten activos*/
  border-bottom: 1px solid #dae6f0;
}


#publications a, #publicaciones a {/*links en publications*/
  color: steelblue;
}

.header th {/*titulos de la tabla de publicaiones*/
  text-align: center !important;
  text-transform: capitalize;
}

#traslated-cheatsheets a, #cheatsheets-traducidos a{
  color: #386890;
}

#traslated-cheatsheets a:hover, #cheatsheets-traducidos a:hover{
  font-weight: bold;
}

/*PAra el boton de descargar CV*/
.text-center {
  margin-top: 60px;
  margin-bottom: -50px;
}

.text-center .btn {
  background-color: steelblue;
  color: white;
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
}

.text-center .btn:hover {
  color: white;
  font-weight: bold;
 
}

/*para las columnas de habilidades tecnicas*/
.column {
  text-align: center;
  justify-content: center;
}

.columns2 {
  text-align: center;
  justify-content: center;
}

.email {
  font-style: italic;
}